name: Deploy to Azure App Service

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js app
        run: npm run build
        env:
          NEXT_PUBLIC_GOOGLE_MAP_API: AIzaSyANThwic7Udj0r5ulBoPN9Dp2lSwJKOAK4
          NEXT_PUBLIC_AZUREBLOB_CONTAINER: photosdocs
          NEXT_PUBLIC_AZUREBLOB_SASTOKEN: sv=2024-11-04&ss=b&srt=sco&sp=rwdlaciytfx&se=2035-10-14T18:02:51Z&st=2025-10-14T09:47:51Z&spr=https&sig=lFOuI%2FXifw3wGShtjUcjdeQn8DenYY%2FtIrWOQ%2FCZqvo%3D
          NEXT_PUBLIC_AZUREBLOB_SASURL_BASE: https://buyselstore.blob.core.windows.net
          NEXT_PUBLIC_VAPID_PUBLIC_KEY: BIh49CHmmuAuHOPGiZdzVj-_3_dZXIEv57JNWeOibt2agftbQWpcC_kngiLQEzRKZ3T7ptb1bvGqxzu3PRkdGec
          NEXT_PUBLIC_API_URL: https://buysel.azurewebsites.net
          VAPID_PRIVATE_KEY: EKIzkxo_icPeY9CDXb5tcnAPUZl_O3lFG6J27Cu4fIA
          VAPID_EMAIL: mailto:admin@buysel.com

      - name: Create deployment package
        run: |
          mkdir -p deploy
          cp -r .next deploy/
          cp -r node_modules deploy/
          cp -r public deploy/
          cp package.json deploy/
          cp package-lock.json deploy/
          cd deploy && zip -r ../deploy.zip . && cd ..

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'buysel-webapp'
          publish-profile: '<publishData><publishProfile profileName="buysel-webapp - Web Deploy" publishMethod="MSDeploy" publishUrl="buysel-webapp.scm.azurewebsites.net:443" msdeploySite="buysel-webapp" userName="$buysel-webapp" userPWD="kC34GC6czcDEk5r0YxnupCBdv9kp2fWV5k5qHbqy1LRpqfgsjBhxhLxvH0Bu" destinationAppUrl="http://buysel-webapp.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="buysel-webapp - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-sy3-097.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="buysel-webapp\$buysel-webapp" userPWD="kC34GC6czcDEk5r0YxnupCBdv9kp2fWV5k5qHbqy1LRpqfgsjBhxhLxvH0Bu" destinationAppUrl="http://buysel-webapp.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="buysel-webapp - Zip Deploy" publishMethod="ZipDeploy" publishUrl="buysel-webapp.scm.azurewebsites.net:443" userName="$buysel-webapp" userPWD="kC34GC6czcDEk5r0YxnupCBdv9kp2fWV5k5qHbqy1LRpqfgsjBhxhLxvH0Bu" destinationAppUrl="http://buysel-webapp.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile></publishData>'
          package: deploy.zip
